*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

button {
  height: 3rem;
  width: 8rem;
  margin: 0 1rem;
  background-color: white;
  box-shadow: 5px 4px black;
}

h1,
h2 {
  font-size: 3rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  width: 50%;
  margin: auto;
}

#navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  font-size: 1.5rem;
  list-style: none;
  margin: 0 1rem;
  cursor: pointer;
  align-items: center;
  vertical-align: middle;
}

.time-container {
  display: flex;
  justify-content: end;
  width: 50%;
  margin: auto;
  padding-top: 1rem;
}

.live-date {
  display: flex;
  justify-content: end;
  font-size: 1.5rem;
}

.container {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booksContainer {
  font-size: 1.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: solid black 3px;
}

.book {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.book:nth-child(even) {
  background-color: #c7d6d8;
}

.bookTitleAuthor {
  display: flex;
  align-items: center;
}

.bookTitleAuthor > * {
  margin: 0 0.3rem;
}

.addBookForm input {
  width: 50%;
  margin: 0.5rem 0;
  border: solid black 3px;
}

.addBookForm button {
  margin: auto;
}

.contentSection {
  display: block;
}

.contentSection.hidden {
  display: none;
}

.contact-form__p {
  font-size: 2rem;
  margin: 1rem;
}

footer {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
